{
  "extends": "airbnb",
  "rules": {
    "func-names": [
      "error",
      "never"
    ],
    "quote-props": [
      1,
      "consistent-as-needed"
    ],
    "semi": [
      "error",
      "never"
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "only-multiline",
        "objects": "only-multiline",
        "imports": "only-multiline",
        "exports": "only-multiline",
        "functions": "ignore"
      }
    ],
    "max-len": [
      0,
      {
        "code": 80
      }
    ],
    "react/jsx-filename-extension": [
      0,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "env": [
      1,
      {
          "browser": true
      }
    ]
  }
}